<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta name="author" content="Mohammed Ajao">
          <meta http-equiv="U-XA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
     </head>
     <header>
          <h1><strong>Portfolio</strong></h1>
          {% include nav.html %}
     </header>
     <body>
          {{content}}
     </body>
     <footer>
          {% include nav.html %}
          <p>©2017 Adrian Warholm</p>
     </footer>
</html>
